.post-create
  display: flex
  background: #fff
  margin: auto
  color: #111 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
  &__data
    color: #413e3e
  &__form
    width: 70%
    padding: 10px 13px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
  &__textarea
    width: 100%
  &__btn
    align-self: flex-end
    margin-left: 20px

  .label
    color: #2a292aa8

::ng-deep
  &.mat-form-field-appearance-fill .mat-form-field-underline::before
    background-color: #353535 !important
  .mat-dialog-container
    padding: 0

