<mat-card class="post-create">
  <mat-card-title class="post-create__title">
    {{ data.mode === 'create' ? 'Create a new post' : 'Edit a post' }}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content class="post-create__form content">
    <form class="post-create__data" [formGroup]="newPostForm" (submit)="save()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="label">Title</mat-label>
          <input matInput formControlName="title">
          <mat-error *ngIf="newPostForm.controls.title.invalid">{{ getError(newPostForm.controls.title)}}</mat-error>
        </mat-form-field>
        <div class="post-create__form" (click)="filePicker.click()">
          <button mat-stroked-button> Add image </button>
          <input type="file" #filePicker formControlName="image" (change)="onImagePicked($event)">
          <img [src]="imagePreview" alt="" *ngIf="imagePreview" class="image-preview">
        </div>
        <mat-form-field class="post-create__form textarea">
          <textarea placeholder="Your thoughts" class="post-create__textarea" matInput rows="8" formControlName="content"></textarea>
          <mat-error *ngIf="newPostForm.controls.content.invalid">ff </mat-error>
        </mat-form-field>
        <button class="post-create__btn" mat-stroked-button  mat-button type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>
